<footer class="text-center text-lg-start text-dark" style="background-color: #eceff1">
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold">
                        <%= __('footer.title') %>
                    </h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="
                            width: 60px;
                            background-color: #7c4dff;
                            height: 2px;
                        " />
                    <p>
                        <%= __('footer.description') %>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">
                        <%= __('footer.about.title') %>
                    </h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="
                            width: 60px;
                            background-color: #7c4dff;
                            height: 2px;
                        " />
                    <p><a href="#!" class="text-dark a-footer">
                            <%= __('footer.about.aboutUs') %>
                        </a></p>
                    <p><a href="#!" class="text-dark a-footer">
                            <%= __('footer.about.howItWorks') %>
                        </a></p>
                    <p><a href="#!" class="text-dark a-footer">
                            <%= __('footer.about.stats') %>
                        </a></p>
                    <p><a href="#!" class="text-dark a-footer">
                            <%= __('footer.about.press') %>
                        </a></p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">
                        <%= __('footer.links.title') %>
                    </h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="
                            width: 60px;
                            background-color: #7c4dff;
                            height: 2px;
                        " />
                    <p><a href="#!" class="text-dark a-footer">
                            <%= __('footer.links.helpCenter') %>
                        </a></p>
                    <p><a href="#!" class="text-dark a-footer">
                            <%= __('footer.links.rules') %>
                        </a></p>
                    <p><a href="#!" class="text-dark a-footer">
                            <%= __('footer.links.payment') %>
                        </a></p>
                    <p><a href="#!" class="text-dark a-footer">
                            <%= __('footer.links.resources') %>
                        </a></p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">
                        <%= __('footer.contact.title') %>
                    </h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="
                            width: 60px;
                            background-color: #7c4dff;
                            height: 2px;
                        " />
                    <p><i class="fas fa-home mr-3"></i>
                        <%= __('footer.contact.address') %>
                    </p>
                    <p><i class="fas fa-envelope mr-3"></i>
                        <%= __('footer.contact.email') %>
                    </p>
                    <p><i class="fas fa-phone mr-3"></i>
                        <%= __('footer.contact.phone') %>
                    </p>
                    <p><i class="fas fa-print mr-3"></i>
                        <%= __('footer.contact.fax') %>
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © <%= __('footer.copyright.year') %>
            <%= __('footer.copyright.text') %>
                <a class="text-dark" href="https://mdbootstrap.com/">
                    <%= __('footer.copyright.link') %>
                </a>
    </div>
    <!-- Copyright -->
</footer>