<% layout('layouts/boilerplate') %>

<div class="container mt-3 mb-5">
    <h1 class="text-center mb-4"><%= __('nonProfit.heading') %></h1>
    <p class="lead text-center"><%= __('nonProfit.intro') %></p>

    <div class="row mt-5">
        <div
            class="col-lg-6 text-center d-flex flex-column justify-content-center align-items-center mx-auto"
            style="max-width: 500px"
        >
            <h3 class="mb-3">
                <%= __('nonProfit.sections.yourCauseOurSupport.title') %>
            </h3>
            <p><%= __('nonProfit.sections.yourCauseOurSupport.content') %></p>
        </div>
        <div class="col-lg-6">
            <img
                src="https://images.unsplash.com/photo-1732147145548-0c245396a268?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D"
                alt="Non-Profit Cause"
                class="img-fluid rounded shadow"
            />
        </div>
    </div>

    <div class="row mt-5">
        <div
            class="col-lg-6 order-lg-2 text-center d-flex flex-column justify-content-center align-items-center mx-auto"
            style="max-width: 500px"
        >
            <h3 class="mb-3">
                <%= __('nonProfit.sections.engageAndInspire.title') %>
            </h3>
            <p><%= __('nonProfit.sections.engageAndInspire.content') %></p>
        </div>
        <div class="col-lg-6 order-lg-1">
            <img
                src="https://plus.unsplash.com/premium_photo-1732736768075-4738ba4ccf1a?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMHx8fGVufDB8fHx8fA%3D%3D"
                alt="Engage and Inspire"
                class="img-fluid rounded shadow"
            />
        </div>
    </div>

    <div class="row mt-5">
        <div
            class="col-lg-6 text-center d-flex flex-column justify-content-center align-items-center mx-auto"
            style="max-width: 500px"
        >
            <h3 class="mb-3">
                <%= __('nonProfit.sections.transparencyBuildsTrust.title') %>
            </h3>
            <p>
                <%= __('nonProfit.sections.transparencyBuildsTrust.content') %>
            </p>
        </div>
        <div class="col-lg-6">
            <img
                src="https://plus.unsplash.com/premium_photo-1731860726887-6b1cb8129b0f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw2fHx8ZW58MHx8fHx8"
                alt="Transparency Builds Trust"
                class="img-fluid rounded shadow"
            />
        </div>
    </div>

    <hr class="my-5" />

    <h2 class="text-center mb-4"><%= __('nonProfit.guidelines.heading') %></h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong
                ><%= __('nonProfit.guidelines.purposeDrivenFunding.title')
                %></strong
            >
            <%= __('nonProfit.guidelines.purposeDrivenFunding.content') %>
        </li>
        <li class="list-group-item">
            <strong
                ><%= __('nonProfit.guidelines.legalCompliance.title') %></strong
            ><%= __('nonProfit.guidelines.legalCompliance.content') %>
        </li>
        <li class="list-group-item">
            <strong
                ><%= __('nonProfit.guidelines.optionalRewards.title') %></strong
            ><%= __('nonProfit.guidelines.optionalRewards.content') %>
        </li>
    </ul>

    <div class="text-center mt-5">
        <p class="mb-4"><%= __('nonProfit.beginYourJourney.content') %></p>
        <a href="/projects/new" class="btn btn-primary btn-lg"
            ><%= __('nonProfit.beginYourJourney.heading') %></a
        >
    </div>
</div>
