<% layout('layouts/boilerplate') %>

<div class="container mb-5 mt-3">
    <h1 class="text-center mb-4"><%= __('prohibitedContent.heading') %></h1>
    <p class="lead text-center"><%= __('prohibitedContent.description') %></p>
    <hr class="my-5" />

    <h2 class="mb-4"><%= __('prohibitedContent.prohibitedItemHeader') %></h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong><%= __('prohibitedContent.item1.item') %></strong><%=
            __('prohibitedContent.item1.description') %>
        </li>
        <li class="list-group-item">
            <strong><%= __('prohibitedContent.item2.item') %></strong><%=
            __('prohibitedContent.item2.description') %>
        </li>
        <li class="list-group-item">
            <strong><%= __('prohibitedContent.item3.item') %></strong><%=
            __('prohibitedContent.item3.description') %>
        </li>
        <li class="list-group-item">
            <strong><%= __('prohibitedContent.item4.item') %></strong><%=
            __('prohibitedContent.item4.description') %>
        </li>
        <li class="list-group-item">
            <strong><%= __('prohibitedContent.item5.item') %></strong><%=
            __('prohibitedContent.item5.description') %>
        </li>
        <li class="list-group-item">
            <strong><%= __('prohibitedContent.item6.item') %></strong><%=
            __('prohibitedContent.item6.description') %>
        </li>
        <li class="list-group-item">
            <strong><%= __('prohibitedContent.item7.item') %></strong><%=
            __('prohibitedContent.item7.description') %>.
        </li>
        <li class="list-group-item">
            <strong><%= __('prohibitedContent.item8.item') %></strong><%=
            __('prohibitedContent.item8.description') %>
        </li>
        <li class="list-group-item">
            <strong><%= __('prohibitedContent.item9.item') %></strong><%=
            __('prohibitedContent.item9.description') %>
        </li>
        <li class="list-group-item">
            <strong><%= __('prohibitedContent.item10.item') %></strong><%=
            __('prohibitedContent.item10.description') %>
        </li>

        <li class="list-group-item">
            <strong><%= __('prohibitedContent.item11.item') %></strong><%=
            __('prohibitedContent.item11.description') %>
        </li>
        <li class="list-group-item">
            <strong><%= __('prohibitedContent.item12.item') %></strong><%=
            __('prohibitedContent.item12.description') %>
        </li>
        <li class="list-group-item">
            <strong><%= __('prohibitedContent.item13.item') %></strong><%=
            __('prohibitedContent.item13.description') %>
        </li>
        <li class="list-group-item">
            <strong><%= __('prohibitedContent.item14.item') %></strong><%=
            __('prohibitedContent.item14.description') %>
        </li>
        <li class="list-group-item">
            <strong><%= __('prohibitedContent.item15.item') %></strong><%=
            __('prohibitedContent.item15.description') %>
        </li>
    </ul>

    <hr class="my-5" />

    <h2 class="mb-4"><%= __('prohibitedContent.clarify') %></h2>
    <p class="text-center">
        <%= __('prohibitedContent.contact.contactIntro') %><a
            href="mailto:junhuawei08@gmail.com"
            class="text-primary"
            ><%= __('prohibitedContent.contact.contactLink') %></a
        ><%= __('prohibitedContent.contact.contactEnd') %>
    </p>

    <div class="text-center mt-5">
        <a href="/projects/new" class="btn btn-primary btn-lg"
            ><%= __('prohibitedContent.startProject') %></a
        >
    </div>
</div>
