<% layout('layouts/boilerplate') %>

<div class="container mb-5 mt-3">
    <h1 class="text-center mb-4"><%= __('Rules.heading') %></h1>
    <p class="text-center lead">
        <%= __('Rules.intro') %>
        <a href="/nonprofit-resources"><%= __('Rules.introNonProfitLink') %></a>
    </p>

    <section class="mt-5">
        <h2 class="h4 text-primary mb-3"><%= __('Rules.guidelines') %></h2>
        <p><%= __('Rules.fivePrinciples') %></p>

        <div class="mb-4">
            <h3 class="h5 text-secondary">
                <%= __('Rules.principle1.title') %>
            </h3>
            <p><%= __('Rules.principle1.principle') %></p>
        </div>

        <div class="mb-4">
            <h3 class="h5 text-secondary">
                <%= __('Rules.principle2.title') %>
            </h3>
            <p><%= __('Rules.principle2.principle') %></p>
        </div>

        <div class="mb-4">
            <h3 class="h5 text-secondary">
                <%= __('Rules.principle3.title') %>
            </h3>
            <p><%= __('Rules.principle3.principle') %></p>
        </div>

        <div class="mb-4">
            <h3 class="h5 text-secondary">
                <%= __('Rules.principle4.title') %>
            </h3>
            <p><%= __('Rules.principle4.principle') %></p>
        </div>

        <div class="mb-4">
            <h3 class="h5 text-secondary">
                <%= __('Rules.principle5.title') %>
            </h3>
            <p>
                <%= __('Rules.principle5.principleIntro') %>
                <a href="/prohibited-content" class="text-primary"
                    ><%= __('Rules.principle5.principleLink') %></a
                >
                <%= __('Rules.principle5.principleEnd') %>
            </p>
        </div>
    </section>
</div>
