// i18n

<% layout('layouts/boilerplate') %>

    <div class="container mt-3 mb-5">
        <h1 class="text-center mb-4">
            <%= __('howItWorks.heading') %>
        </h1>

        <section class="mb-5">
            <h2 class="h4 text-primary mb-3">
                <%= __('howItWorks.shareVision.heading') %>
            </h2>
            <p>
                <%= __('howItWorks.shareVision.description') %>
            </p>
        </section>

        <section class="mb-5">
            <h2 class="h4 text-primary mb-3">
                <%= __('howItWorks.engageCommunity.heading') %>
            </h2>
            <p>
                <%= __('howItWorks.engageCommunity.description') %>
            </p>
        </section>

        <section class="mb-5">
            <h2 class="h4 text-primary mb-3">
                <%= __('howItWorks.bringIdeas.heading') %>
            </h2>
            <p>
                <%= __('howItWorks.bringIdeas.description') %>
            </p>
        </section>

        <hr class="my-5" />

        <h1 class="text-center mb-4">
            <%= __('whyBoomerang.heading') %>
        </h1>

        <section class="mb-5">
            <h2 class="h4 text-primary mb-3">
                <%= __('whyBoomerang.builtForCreators.heading') %>
            </h2>
            <p>
                <%= __('whyBoomerang.builtForCreators.description') %>
            </p>
        </section>

        <section class="mb-5">
            <h2 class="h4 text-primary mb-3">
                <%= __('whyBoomerang.empoweringFunding.heading') %>
            </h2>
            <p>
                <%= __('whyBoomerang.empoweringFunding.description.part1') %>
                    <a href="/nonprofit-resources">
                        <%= __('whyBoomerang.empoweringFunding.link') %>
                    </a>
                    <%= __('whyBoomerang.empoweringFunding.description.part2') %>
            </p>
        </section>

        <section class="mb-5">
            <h2 class="h4 text-primary mb-3">
                <%= __('whyBoomerang.supportiveCommunity.heading') %>
            </h2>
            <p>
                <%= __('whyBoomerang.supportiveCommunity.description') %>
            </p>
        </section>

        <section clas="mb-5">
            <h2 class="h4 text-primary mb-3">
                <%= __('whyBoomerang.committedDifference.heading') %>
            </h2>
            <p>
                <%= __('whyBoomerang.committedDifference.description') %>
            </p>
        </section>
    </div>