// i18n

<% layout('layouts/boilerplate') %>
    <div class="container">
        <h1 class="text-center">
            <%= __('drafts.heading') %>
        </h1>
        <div class="row">
            <% if (drafts.length> 0) { %>
                <% drafts.forEach(function(draft) { %>
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= draft.title || __('drafts.untitled') %>
                                </h5>
                                <p class="card-text">
                                    <strong>
                                        <%= __('drafts.lastSaved') %>:
                                    </strong>
                                    <%= draft.lastSavedAt.toLocaleString() %><br />
                                        <strong>
                                            <%= __('drafts.location') %>:
                                        </strong>
                                        <%= draft.location || __('drafts.notSpecified') %>
                                </p>
                                <a href="/projects/new?draftId=<%= draft._id %>" class="btn btn-primary">
                                    <%= __('drafts.resume') %>
                                </a>
                                <form method="POST" action="/projects/drafts/<%= draft._id %>?_method=DELETE"
                                    class="d-inline">
                                    <button type="submit" class="btn btn-danger">
                                        <%= __('drafts.delete') %>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                        <% } else { %>
                            <div class="col-12">
                                <p class="text-center">
                                    <%= __('drafts.noDrafts') %>
                                </p>
                                <a href="/projects/new" class="btn btn-success">
                                    <%= __('drafts.createNew') %>
                                </a>
                            </div>
                            <% } %>
        </div>
    </div>