<!-- i18n -->

<% layout('layouts/boilerplate') %>
<section class="vh-80 mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-black">
                <div class="px-5 ms-xl-4">
                    <i
                        class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4"
                        style="color: #709085"
                    ></i>
                    <span class="h1 fw-bold mb-0">
                        <%= __('register.logo') %>
                    </span>
                </div>

                <div
                    class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5"
                >
                    <form
                        action="/register"
                        class="validated-form"
                        novalidate
                        method="POST"
                        style="width: 23rem"
                    >
                        <h3
                            class="fw-normal mb-3 pb-3"
                            style="letter-spacing: 1px"
                        >
                            <%= __('register.heading') %>
                        </h3>

                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="username">
                                <%= __('register.usernameLabel') %>
                            </label>
                            <input
                                class="form-control form-control-lg"
                                type="text"
                                id="username"
                                name="username"
                                required
                            />
                            <div class="valid-feedback">
                                <%= __('register.validFeedback') %>
                            </div>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="email">
                                <%= __('register.emailLabel') %>
                            </label>
                            <input
                                class="form-control form-control-lg"
                                type="email"
                                id="email"
                                name="email"
                                required
                            />
                            <div class="valid-feedback">
                                <%= __('register.validFeedback') %>
                            </div>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="password">
                                <%= __('register.passwordLabel') %>
                            </label>
                            <input
                                class="form-control form-control-lg"
                                type="password"
                                id="password"
                                name="password"
                                required
                            />
                            <div class="valid-feedback">
                                <%= __('register.validFeedback') %>
                            </div>
                        </div>

                        <div class="my-4">
                            <a
                                data-mdb-ripple-init
                                class="btn btn-lg btn-block border border-dark"
                                href="/auth/google"
                                role="button"
                            >
                                <i class="fab fa-google me-2"></i>
                                <%= __('register.googleButton') %>
                            </a>
                        </div>
                        <button class="btn btn-success">
                            <%= __('register.submitButton') %>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img
                    src="https://media.istockphoto.com/id/475209510/photo/throwing-plain-boomerand-midair.webp?a=1&b=1&s=612x612&w=0&k=20&c=eaxfKyxmKn_Pm9kVmHyg7SDg3eo33SJOlTZb3KuV1cs="
                    alt="<%= __('register.imageAlt') %>"
                    class="w-100"
                    style="
                        object-fit: cover;
                        object-position: left;
                        height: 600px;
                    "
                />
            </div>
        </div>
    </div>
</section>
